@tailwind base;
@tailwind components;
@tailwind utilities;

/* ページネーションの矢印アイコンとリンクをスタイル */
.pagination .page-link {
    font-size: 1rem;  /* ここでフォントサイズを調整します */
    padding: 0.5rem 1rem;  /* パディングを適切に設定 */
    color: #000; /* 矢印やリンクの色を設定 */
}

/* ページネーション全体のスタイル */
.pagination {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

/* 矢印のアイコンのカスタマイズ */
.pagination-arrow svg {
    width: 1.5rem;  /* アイコンの幅を調整 */
    height: 1.5rem; /* アイコンの高さを調整 */
}


.footer {
    padding-top: 10px; /* 上の余白を調整 */
    padding-bottom: 10px; /* 下の余白を調整 */
}

.nagoyameshi-footer-logo,
.nagoyameshi-footer-link {
    margin-bottom: 5px; /* ロゴおよびリンク周りの余白の調整 */
}

.text-center.text-muted.small {
    margin-bottom: 0; /* 下の余白の削減 */
}

.bg-light {
    padding-top: 10px; /* 下の余白の削減 */
    padding-bottom: 10px; /* 下の余白の削減 */
}
